<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="63024f4b-6ffc-402a-bf24-3cb1fb475b26" wadlVersion="http://wadl.dev.java.net/2009/02" name="Dashboardv3" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="63024f4b-6ffc-402a-bf24-3cb1fb475b26fileName">http%3A%2F%2Faut-sqlbi-118%3A9292</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>${CWF.EndPoint}</con:endpoint></con:endpoints></con:interface>